@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">This is the welcome page.</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin condimentum lectus eget ligula tempus, a imperdiet tellus bibendum. Morbi aliquam arcu odio, nec elementum elit fringilla eu. Maecenas ac velit sed nulla consectetur imperdiet vulputate eu magna. Integer imperdiet augue ut interdum accumsan. Ut in congue ligula, eu efficitur quam. Aenean mollis justo vitae lacinia feugiat. Etiam congue eleifend felis, sed porttitor elit posuere ac. Nam venenatis imperdiet nunc, ac efficitur diam vulputate vel. Nullam non nisl urna. Fusce at felis bibendum, sollicitudin quam eget, tempor erat. Etiam auctor molestie nisi, quis pellentesque orci egestas sit amet. Mauris sit amet massa ut nulla blandit interdum eget et sem.</p>
    <button>This is a button</button>

</div>
