@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">This is the welcome page.</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin condimentum lectus eget ligula tempus, a imperdiet tellus bibendum. Morbi aliquam arcu odio, nec elementum elit fringilla eu. Maecenas ac velit sed nulla consectetur imperdiet vulputate eu magna. Integer imperdiet augue ut interdum accumsan. Ut in congue ligula, eu efficitur quam. Aenean mollis justo vitae lacinia feugiat. Etiam congue eleifend felis, sed porttitor elit posuere ac. Nam venenatis imperdiet nunc, ac efficitur diam vulputate vel. Nullam non nisl urna. Fusce at felis bibendum, sollicitudin quam eget, tempor erat. Etiam auctor molestie nisi, quis pellentesque orci egestas sit amet. Mauris sit amet massa ut nulla blandit interdum eget et sem.</p>
    <button>This is a button</button>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse porta, urna id tempor finibus, est tellus condimentum leo, quis mollis nisl massa nec nisi. Ut ut neque maximus odio aliquam semper porttitor ut dui. Pellentesque gravida quis nisl eu vulputate. In sit amet mi turpis. Nulla at ligula dapibus, ultricies leo vitae, iaculis velit. Sed sit amet quam et metus sagittis vehicula at sit amet lectus. Nunc dui diam, mattis eu mi ut, faucibus interdum dui. Donec id laoreet libero, vel pretium sem. Vestibulum in pharetra lorem. In auctor maximus urna nec fringilla.</p>
    <button>This is a button</button>
    <p>Morbi sed felis vitae neque faucibus vehicula. Nam at tempus quam, sit amet ultricies odio. Vivamus viverra in tortor non mattis. Ut odio lacus, tincidunt sit amet cursus vel, lobortis nec odio. Mauris sit amet est maximus, ultricies ligula nec, tristique orci. Nullam cursus orci non faucibus efficitur. Cras eget velit at eros varius sollicitudin. Sed semper a nulla ut pulvinar. Donec sem nunc, luctus quis ex ac, facilisis porttitor tellus. Cras molestie dignissim vestibulum. Aliquam mauris ipsum, condimentum tempor elementum pharetra, rhoncus ac lectus. Nunc in varius odio. Donec viverra ante eget nunc aliquam, et varius erat ultricies. Duis vel malesuada leo, placerat efficitur nisl.</p>
    <button>This is a button</button>
</div>
